$footcolour: none;

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 0%;
    margin-top: 5%;
    margin-bottom: 0%;
    background-color: $footcolour;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 1.25em;
    color: rgb(85, 49, 85);
}

img {
    height: 1.5em;
    padding: 0%;
    margin-top: 0%;
}

.attribution {
    text-decoration: none;
    margin-top: 0%;
    padding-bottom: 1em;
    padding-top: 0%s;
    color: rgb(85, 49, 85);
}

.footer {
    margin-bottom: 0%;
    padding-bottom: 0%;
}

a:link {
    text-decoration: none;
    color: rgb(85, 49, 85);
    justify-content: center;
}
a:visited {
    text-decoration: none;
    color: rgb(85, 49, 85);
    justify-content: center;
}